.sidebar-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.item p {
  margin: 0;
  padding-left: 10px;
  font-size: 16px;
  color: #333;
}

.item span {
  font-size: 20px;
}

.item:hover {
  background-color: #f0f0f0;
}
